@model ClienteAPI.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutPageOut.cshtml";
}

<div>
    <div class="card">
        <section class="vh-100" style="background-image: url(/img/fondo-login.jpg); background-repeat: no-repeat; background-size: cover ">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card shadow-2-strong" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">
                                <form asp-action="Login">
                                    <h3 class="mb-5 text-dark">Iniciar Sesión</h3>
                                    <div class="form-floating form-group mb-3">
                                        <input asp-for="UserName" class="form-control" />
                                        <label for="UserName" asp-for="UserName" class="control-label"></label>
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating form-group mb-3">
                                        <input asp-for="Password" class="form-control" />
                                        <label for="Password" asp-for="Password" class="control-label"></label>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mt-3">
                                        <input type="submit" value="Ingresar" class="btn btn-primary" />
                                    </div>
                                    <div class="form-group">
                                        <font color="#FF0000">@ViewBag.message</font>
                                    </div>
                                </form>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="link-primary text-center">
                                    <a asp-controller="Home" asp-action="Index">Volver al Sitio</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
